* {
  box-sizing: border-box;
}


body {
  font-family: "Tahoma", sans-serif;
}

h1 {
  text-align: center;
}

.box {
  border: 1px solid black;
  width: 33%;
  background-color: lightgray;
  text-align: center;
}

.wrapper {
  width:100%;
}

.title {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 20%;
  float: right;
  text-align: center;
  padding: 5px 10px;
}

.empty {
  display: inline;
  width: 80%;
}

#title1 {
  background-color: pink;
}

#title2 {
  background-color: red;
}

#title3 {
  background-color: yellow;
}

.text {
  margin-top: 40px;
  padding: 10px 20px 20px 20px;
}

/* DESKTOP */
@media (min-width: 992px) {
  
  .box {
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {

  #box1, #box2 {
    width: 45%;
    margin: 0 2% 30px 2%;

  }
  .wrapper{
  	margin-left: 20px;
  }
  
  #box3 {
    width: 95%;
    margin: 0 2% 0 2%;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  
  .box {
    width: 97%;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .wrapper {
  	margin-left: 10px;
  }
}